.content{
    .banner--du__an{
        background-image: url('../images/duan/biet-thu.png');
        @include backgroundImage();
        height: 68rem;
        z-index: -1;
    }
    .project--news{
        margin-bottom: 9.6rem;
        padding-right: 0;
        .project--news--heading{
            position: relative;
            .project--heading{
                position: relative;
                &--list{
                    &__item{
                        position: relative;
                        cursor: pointer;
                        &--link{
                            font-size: 1.6rem;
                            color: $color-post;
                        }
                    }
                    &__item:nth-child(2){
                        border-top: 0.5px solid rgba(49, 49, 50, 0.5);
                        border-bottom: 0.5px solid rgba(49, 49, 50, 0.5);
                    }
                    .active>a{
                        color: #BC0F19;
                        padding-left: 2.5rem;
                    }
                    .active>a::before{
                        content: ".";
                        position: absolute;
                        left: 1rem;
                        top: -8.5px;
                        font-size: 3rem;
                    }
                }
            }
        }
        .project--content{
            &--title{
                h2{
                    font-size: 2.4rem;
                    color: $color-post;
                    line-height: 2.8rem;
                }
            }
            &--item{
                display: flex;
                margin-top: 2.5rem;
                border: 1px solid $background-nav;
                border-radius: 10px;
                &__images{
                    padding: 0;
                }
                &__desc{
                    padding: 1.95rem 2.97rem 1.95rem 3.18rem;
                    &--title{
                        font-size: 1.8rem;
                        line-height: 2.1rem;
                        color: $color-post;
                        font-weight: 700;
                        padding-bottom: 1.2rem;
                        border-bottom: 0.5px solid #000;
                    }
                    &--text{
                        margin-top: 1.2rem;
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                        text-align: justify;
                        color: $color-post;
                    }
                    &--more{
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        margin-top: 2.7rem;
                        a{
                            color: $color-post;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}