@include responsive_mobile{
    .header .wrapper-search-bar{
        display: block;
        height: 26rem;
    }
    .search-bar-tab{
        margin: 1.2rem 0;
        width: 17rem;
    }
    .header .wrapper-search-bar .search-bar{
        display: block;
        position: relative;
    }
    .header .wrapper-search-bar .search-bar-suggestion{
        margin-left: 0rem;
        min-height: 4rem;
    }
    .header .wrapper-search-bar .search-bar .select-control{
        float: left;
        margin-top: 1rem;
    }
    .header .wrapper-search-bar .search-bar .select-control-label .custom-dropbox-cate{
        min-width: 20rem;
    }
    .header .wrapper-search-bar .search-bar .select-control-label .custom--form{
        width: 100%;
        padding: 0.8rem 1.2rem 3.2rem 1.2rem;
    }
    .header .wrapper-search-bar .search-bar .re__state-icon--sm{
        position: absolute;
        display: inline-block ;
        top: 1rem;
        left: 50%;
    }
    .content--detail .content-area .module .project--detail--item{
        display: block;
    }
    .header .wrapper-search-bar .search-bar .search--box--btn{
        margin-top: 1rem;
    }
    .content--detail .content-area .module .content--area__header--title{
        font-size: 1.6rem;
    }
    .re__state-icon--sm{
        display: none;
    }
    .content--detail .content-area .module .project--detail--item .project--detail__text .rowset{
        margin: 1rem 0;
    }
    .content--detail .content-area .module .project--detail--item .project--detail__text .rowset--item{
        padding-right: 1.7rem;
    }
    .content--detail .content-area .module .project--detail--item .project--detail__text .news-location{
        margin: 1rem 0;
    }
    .content--detail .content-area .module .project--detail--item .project--detail__text .wishlist{
        bottom: 0rem;
    }
    .content--detail .content-area .module .nav-pagination .pagination .page--item{
        padding: 0 1rem;
    }
    .display-none-mobile{
        display: none;
    }
    .content--detail{
        .content-area{
            .module{
                .project--detail{
                    &--item{
                        &__image{
                            img{
                                border-radius: 3px 3px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive_tablet-low{
    .header .wrapper-search-bar .search-bar .select-control-label .custom--form{
        width: 100%;
        padding: 0.8rem 1.2rem 3.2rem 1.2rem;
        left: 0;
    }
}

@include responsive_tablet{
    .content--detail{
        margin-top: 4rem;
    }
    .header .wrapper-search-bar{
        display: block;
        height: 26rem;
    }
    .search-bar-tab{
        margin: 1.2rem 0;
        width: 17rem;
    }
    .header .wrapper-search-bar .search-bar{
        display: block;
    }
    .header .wrapper-search-bar .search-bar-suggestion{
        margin-left: 0rem;
        min-height: 4rem;
    }
    .header .wrapper-search-bar .search-bar .select-control{
        float: left;
        margin-top: 1rem;
    }
    .header .wrapper-search-bar .search-bar .select-control-label .custom-dropbox-cate{
        min-width: 20rem;
    }
    .header .wrapper-search-bar .search-bar .select-control-label .custom--form{
        width: 100%;
        padding: 0.8rem 1.2rem 3.2rem 1.2rem;
    }
    .header .wrapper-search-bar .search-bar .re__state-icon--sm{
        display: inline-block;
        margin-top: 2rem;
    }
    .header .wrapper-search-bar .search-bar .re__filter-wall{
        height: 5rem;
    }
    .header .wrapper-search-bar .search-bar .search--box--btn{
        margin-top: 1rem;
    }
    .content--detail .content-area .module .project--detail--item__image{
        // height: 32.2rem;
    }
    .content--detail .content-area .module .project--detail--item .project--detail__text .rowset--item{
        padding-right: 2.2rem;
    }
    .content--detail .content-area .module .project--detail--item .project--detail__text .news-location--address{
        margin: 0.5rem 0;
    }
    .content--detail{
        .content-area{
            .module{
                .project--detail{
                    &--item{
                        &__image{
                            img{
                                border-radius: 3px 0 0 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-filter{
        .main-right{
            .box-common{
                padding: 0 1.5rem;

            }
        }
    }
}
@include responsive_pclow{
    .content--detail{
        margin-top: 9.4rem;
        .content-area{
            .module{
                .project--detail{
                    &--item{
                        &__image{
                            img{
                                border-radius: 3px 0 0 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-filter{
        .main-right{
            .box-common{
                padding: 0 2.5rem;

            }
        }
    }
}