$black: #000;
$white: #fff;
$yellow: #fcc16e;
$color-text: #707070;
$redBordeaux: #A02639;
$whitish: #f4f3ef;
$gray: #d8d4d5;
$pink: #ff00cc;
$slightlyPink: #ff6d80;
$green: #006e5b;
$violet: #5c27ab;
$brown: #9a7214;
$purple: #ebefff;
$paleBrown: #cbac9d;
$primary-color: #CB1515;
$secondary-color: #000;
$background-home: #fdf9e8;
$orange: #ffd00f;
$more-color: #a1710f;
$darkBrown: #a0722a;
$openColor:#6f6333;
$openSubColor:#706536;
$color-text: #808080;
$background-form: #f2f2f2;
$colorStoreNumber:#a0700f;
$border:#ffeb97;
$colorSolid:#c6c6c6;
$background-content:#fff6d2;
$faint:#808080;
$background-group: #fad94b;
$background-icon: #faf5da;
$color-title: #a0710e;
$bler-color:#202020;
$color-icon: #666666;
$color-text: #FFECED;
$background-booking:#fef7d9;
$backgroundSearch:#ffd00d;
$backgroundMobile:#fef7de;
$header-color: #4d4d4d;
$border-color: #b38c3c;
$background-address-mobile: #f5e28b;
$background-nav: #193666;
$background-bdsOption: #FBF9F2;
$background-btn: #399C0C;
$primary-color: rgb(175, 31, 38);
$color-post: #313132;
$color-contact-number:rgba(175, 31, 38, 0.6);
$background-contact:#292C35;
$color-contact:rgba(255, 255, 255, 0.6);
$color-border-contact:rgba(255, 236, 237, 0.5);